//Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
// font-family: 'Rubik', sans-serif;
// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px


// ## Colors
:root{

    // ### Primary
    
   --var--Blue: hsl(246, 80%, 60%);
    
--work--Light-red: hsl(15, 100%, 70%); //work
--play--Soft-blue: hsl(195, 74%, 62%); //play
--study--Light-red: hsl(348, 100%, 68%); //study
--exercise--Lime-green: hsl(145, 58%, 55%); //exercise
--social--Violet: hsl(264, 64%, 52%); //social
--selfcare--Soft-orange: hsl(43, 84%, 65%); //self Care

// ### Neutral

--var--Very-dark-blue: hsl(226, 43%, 10%);
--var--Dark-blue: hsl(235, 46%, 20%);
--var--Desaturated-blue: hsl(235, 45%, 61%);
--var--Pale-Blue: hsl(236, 100%, 87%);

}
// ## Typography

// ### Body Copy

// - Font size: 18px (card titles e.g. Work, Play)


@media(min-width: 375px){
    body{
        font-family: 'Rubik', sans-serif;
        display: flex;
        background-color: var(--var--Very-dark-blue);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;

    }
    .Container{
        display: flex;
        flex-direction: column;
    .BoxDate{
        display: flex;
        flex-direction: column;
        align-items: center;
        .BoxJeremy{
            z-index: 1;
            display: flex;
            padding: 1.7rem;
            border-radius: 10px;
            background-color: var(--var--Blue);
            .Data{
                color: white;
                margin: 1rem;
            h2{
                margin: 0;
                font-weight: 300;
            }
            }
            .Jeremy{
                width: 4rem;
                height: 4rem;
                border: 4px solid white;
                border-radius: 40px;
            }
        }
        .Buttons{
            background-color: var(--var--Dark-blue);
            border-radius: 10px;
            position: relative;
            top: -10px;
            padding: 0.9rem;
            height: 50px;
            width: 300px;
            align-items: center;
            display: flex;
            justify-content: space-around;
            button{
                background-color: transparent;
                color: var(--var--Pale-Blue);
                border: none;
                cursor: pointer;
                font-size: 16px;
                &:hover{
                   color: white;
                }
            }
        }
    }
    .ContainerWork, 
    .ContainerStudy,
    .ContainerExercise,
    .ContainerPlay,
    .ContainerSocial,
    .ContainerSelfCare{

        .ContImg{
            background-color: var(--work--Light-red);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
   
            .icon{
                position: relative;
                left: 75%;
            }
        }
        .ContImg-play{
            background-color: var(--play--Soft-blue);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
            .icon2{
                position: relative;
                left: 75%;
            }
        }
        .ContImg-study{
            background-color: var(--study--Light-red);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
            .icon3{
                position: relative;
                left: 75%;
            }
        }
        .ContImg-exercise{
            background-color: var(--exercise--Lime-green);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
            .icon4{
                position: relative;
                left: 75%;
            }
        }
        .ContImg-social{
            background-color: var(--social--Violet);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
            .icon5{
                position: relative;
                left: 75%;
            }
        }
        .ContImg-SelfCare{
            background-color: var(--selfcare--Soft-orange);
            width: 300px;
            height: 50px;
            padding: 1rem;
            border-radius: 25px;
            position: relative;
            top: 30px;
            z-index: -1;
            .icon6{
                position: relative;
                left: 75%;
            }
        }
        .ContData{
            display: flex;
            flex-direction: column;
            border-radius: 25px;
            width: 300px;
            height: 105px;
            padding: 1rem;
            background-color: var(--var--Dark-blue);
            &:hover{
                background-color: var(--var--Desaturated-blue);
                cursor: pointer;
            }
           .ContText{
               padding: 0.1rem;
               display: flex;
               align-items: center;
               justify-content: space-between;
               h2{
                   color:white;
                   font-weight: 500;
               }
            }
            .ContLast{
                display: flex;
                padding: 0.2rem;
                align-items: center;
                justify-content: space-between;
                span{
                    font-size: 28px;
                    color: white;
                    font-weight: 300;
                }
                small{
                    color: white;
                    font-size: 14px;
                }
            }
        }

    }
}

}
@media(min-width: 1336px){
    body{
        height: 100vh;
    }
    .Container{
        display:grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto ;
        .BoxDate{
           grid-column: 1/2;
           grid-row: 1/3;
           .BoxJeremy{
               height: 310px;
               width: 275px;
               font-size: 28px;
               margin: 2rem 0rem 0rem 0rem;
                flex-direction: column;
            }
            .Buttons{
                height: 150px;
                flex-direction: column;
                align-items:baseline;
                margin: 0.4rem;
            
                button{
                    font-size: 24px;
                    margin: 0.4rem 0rem;
                    // padding: 0.2çrem;
                }
            }
        }
        .ContainerSelfCare{
            grid-column-start: 4;
        }
        .ContainerSocial{
            grid-column-start: 3;
        }
        .ContainerExercise{
            grid-column-start: 2;
        }
    .ContainerWork, 
    .ContainerStudy,
    .ContainerExercise,
    .ContainerPlay,
    .ContainerSocial,
    .ContainerSelfCare{
        margin: 0.5rem;
        .ContImg,.ContImg-play,.ContImg-study,.ContImg-exercise,.ContImg-social,.ContImg-SelfCare{
            width: 250px;
        }
        .ContData{
            width: 250px;
            height: 150px;
            .ContLast{
                flex-direction: column;
                align-items: baseline;
                span{
                    font-size: 36px;
                }
            }
        }
    }
    } 
}
@media(min-width: 1366px){
    body{
        height: 100vh;
    }
    .Container{
        display:grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto ;
        .BoxDate{
           grid-column: 1/2;
           grid-row: 1/3;
           .BoxJeremy{
               height: 310px;
               width: 275px;
               font-size: 28px;
               margin: 2rem 0rem 0rem 0rem;
                flex-direction: column;
            }
            .Buttons{
                height: 150px;
                flex-direction: column;
                align-items:baseline;
                margin: 0.4rem;
            
                button{
                    font-size: 24px;
                    margin: 0.4rem 0rem;
                    // padding: 0.2çrem;
                }
            }
        }
        .ContainerSelfCare{
            grid-column-start: 4;
        }
        .ContainerSocial{
            grid-column-start: 3;
        }
        .ContainerExercise{
            grid-column-start: 2;
        }
    .ContainerWork, 
    .ContainerStudy,
    .ContainerExercise,
    .ContainerPlay,
    .ContainerSocial,
    .ContainerSelfCare{
        margin: 0.5rem;
        .ContImg,.ContImg-play,.ContImg-study,.ContImg-exercise,.ContImg-social,.ContImg-SelfCare{
            width: 250px;
        }
        .ContData{
            width: 250px;
            height: 150px;
            .ContLast{
                flex-direction: column;
                align-items: baseline;
                span{
                    font-size: 36px;
                }
            }
        }
    }
    }
}
@media(min-width: 1440px){
    .Container{
        display:grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto ;
        margin: auto;
        // width: 100vh;
        .BoxDate{
           grid-column: 1/2;
           grid-row: 1/3;
           margin: 1rem;
           .BoxJeremy{
               height: 310px;
               width: 275px;
               font-size: 28px;
                flex-direction: column;
            }
            .Buttons{
                height: 120px;
                flex-direction: column;
                align-items:baseline;
                margin: 0.4rem;
            
                button{
                    font-size: 24px;
                    margin: 0.4rem 0rem;
                    // padding: 0.2çrem;
                }
            }
        }
        .ContainerSelfCare{
            grid-column-start: 4;
        }
        .ContainerSocial{
            grid-column-start: 3;
        }
        .ContainerExercise{
            grid-column-start: 2;
        }
    .ContainerWork, 
    .ContainerStudy,
    .ContainerExercise,
    .ContainerPlay,
    .ContainerSocial,
    .ContainerSelfCare{

        margin:0.4rem 0.4rem;
        .ContData{
            height: 150px;
            .ContLast{
                flex-direction: column;
                align-items: baseline;
                span{
                    font-size: 48px;
                }
            }
        }
    }
    }

}